<div class='col-sm-3'>
  <div class='media'>
    <div class='media-body'>
      <h2 class='product-name'><%= link_to product.name, category_product_path(product.category, product) %></h2>
			<h2 class='product-description'><%= product.description %></div>
			<h2 class='product-price'><%= number_to_currency product.price %></div>
    </div>
  </div>
</div>