<h1 align="center">瀏覽 Category</h1>
<hr>
	<h2 align="center"><%= @category.name %></h2>
	<p align="center"><%= @category.description %></p> 
<br>
	<h6 align="center"><%= link_to "編輯分類名稱", edit_admin_category_path(@category), class: 'btn btn-success' %></h6>
<br>
  <h6 align="center"><%= link_to "返回分類管理頁", admin_categories_path, class: 'btn btn-default' %></h6>
