<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Creadit4u
    <br>Design by <a href="http://www.credit4upro.com" target=_new>Creadit4u-web development</a>
  </p>
</footer>